@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-text: text 5s ease infinite;
  --animate-fadeIn: fadeIn 0.3s ease-in-out;
  --animate-marquee-move: marquee-move 10s linear infinite;
  --animate-background: background-animate 3s linear infinite;

  @keyframes text {
    0%, 100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }    
  }

  @keyframes marquee-move {
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes background-animate {
    0% {
      background-size: 200% 200%;
      background-position: right center;
    }
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-gray-950/70 text-white;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.dark {
  @apply bg-gray-900 text-white;
}

.light {
  @apply bg-white text-gray-900;
}

.navbar:hover {
  @apply w-72;
}

.navbar .nav-link {
  @apply gap-0;
}

.navbar:hover .nav-link {
  @apply gap-3;
}

.navbar .credit-usage {
  @apply max-w-0 opacity-0 max-h-0;
}

.navbar:hover .credit-usage {
  @apply max-w-full opacity-100;
  max-height: max-content;
}

.navbar .nav-link-label, .navbar .nav-link-right-icon, .navbar .nav-link-badge {
  @apply max-w-0 opacity-0;
}

.navbar:hover .nav-link-label, .navbar:hover .nav-link-right-icon, .navbar:hover .nav-link-badge {
  @apply max-w-full opacity-100;
}

.navbar .nav-link-dropdown {
  @apply max-h-0 max-w-0 opacity-0;
}

.navbar:hover .nav-link-dropdown {
  @apply max-h-full max-w-full opacity-100;
}

.navbar .nav-link-dropdown > a {
  @apply pl-0;
}

.navbar:hover .nav-link-dropdown > a {
  @apply pl-6;
}

.navbar .nav-link-badge {
  @apply border-0;
}

.navbar:hover .nav-link-badge {
  @apply border-1;
}